* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
}
#single_student {
  border: solid 2px black;
  background-color: gainsboro;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2em;
}
